@font-face {
	font-family: "Inconsolata";
	src: url("../fonts/Inconsolata-400.ttf");
}

@font-face {
	font-family: "Fira Mono";
	src: url("../fonts/FiraMono-400.ttf");
}

html {height: 100%;}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: hsl(0, 0%, 95%);
	color: hsl(0, 0%, 15%);
	font-size: 1.25em;
	line-height: 1;
}

div:not(.center) {
	width: 100%;
	max-width: 30rem;
	margin: 0 0 1em;
	padding: 0 0 1em;
	border-bottom: 1px solid hsl(0, 0%, 60%);
}
div:not(.center):last-of-type {border-bottom: none;}

h1 {
	margin: 0;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 1.5em;
}

p {margin: 0;}

.center {text-align: center;}
.monospace {
	font-family: monospace;
	font-size: 1.375em;
}
.inconsolata {
	font-family: "Inconsolata";
	font-size: 1.25em;
}
.firamono {
	font-family: "Fira Mono";
	font-size: 1.05em;
}